@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'fixed' in tailwind is undragable, don't know why */
.titlebar {
  height: 3rem;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(4px);
}

.receiveWindow {
  user-select: none;
  resize: none;
  border: none;
  outline: none;
  /* padding-top: 3rem; */
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}